/* table, td, th {
    border: 1px solid black;
    color: black;
    border-collapse: collapse;
} */

/* * {
    text-align: center;
}     */

/* p {
    text-align: justify;
    margin: 100px;
}  */

 .TableContainer {
  width: 100%;
  margin: 0 auto;
} 

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* font-size: 10pt */
    font-size: 1vw;
	
	margin-left:auto;
	margin-right:auto;
	
	text-align: center;
	
    /* border-collapse: collapse; */
    /* width: 60%; */
  }
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  /*@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');*/
  
  /*thead, tbody {
      display: block;
  }

  tbody {
      /*overflow: auto;*/
	  overflow-y: scroll;
  }

 /* td {
	  display: table;
  }*/

  /* h1 {
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    font-size: 25.5vw;
  }   */
    